@font-face {
    font-family: 'Open Sans';
    src: url("../assets/opensans/opensans.woff2") format("woff2")
}
img{
    max-width: 100%;
}
body{
    background: #FEE2D6!important;
}
.btn-up{
    margin-left: 40px !important;
    color: #fff!important;
}

.bg-light-pink {
    background-color: #FEEFF2!important;
    min-height: 100px;
}
.box1-img{
    padding: 0px;
}
.box-1.img{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.container-right-box1{
    padding-left: 0px!important;
    padding-right: 0px!important;
    position:relative ;
}
.box-1-bg{

    background-color: #FEEFF2!important;
    min-height:108px;
}
.box-1-text h2{
    padding-top: 35px;
    color:#995FC9;
    font-family: 'Open Sans';
    font-size: 24px;
    padding-left: 15px;
}
.box-1-text h1{
    padding-top: 10px;
    padding-left: 15px;
    color:#995FC9;
    font-family: "Times New Roman";
    font-size: 75px;
}
.box-1-text p{
    color:#000000;
    font-family: 'Open Sans';
    font-size: 24px;
    padding-left: 15px;
    padding-right: 40px;
}
.container-left-box1{
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.box1-double{
    padding-left: 0px!important;
    padding-right: 0px!important;
    position:relative ;
}
.container-centre img{
    width: 100%;
    margin-top: -144px;
}
.box-2-text h3{
    text-transform:uppercase;
    padding-top: 50px;
    padding-bottom: 55px;
    font-size:43px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #769094;
}
.box-2{
    background-color: #BBEEEE;
}
.box-2-img{
    max-width: 395px !important;
    max-height: 395px;
}
.btn-down{
    margin-top: 144px;
    margin-bottom: 166px;
    margin-left: 711px;
}

.bg-light-p {
    background-color: #FEE4CF !important;
    min-height: 100px;
}

.box-2s{
    background-color: #FEE4CF;
    min-height: 1000px;
}
.nav-service{
    cursor:pointer;
}
.box-2s-text h3{
    text-transform:uppercase;
    padding-top: 50px;
    padding-bottom: 55px;
    font-size:43px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #947B76;
}
.tr{
    font-size: 16px;
    font-family: 'Open Sans';
    color: rgb(64, 79, 110);
    line-height: 1.2;
    text-align: left;
    text-decoration: none;
    padding-left: 40px;
    padding-bottom: 120px;
}
.tr.active{
    font-size: 16px;
    font-family: 'Open Sans';
    color: red;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    text-decoration: underline;
    padding-left: 40px;
    padding-bottom: 120px;
}
.services{
    background:#F8E2D4;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    margin-top: -20px;
    min-height: 1200px;
    padding: 10px 20px 10px 10px;
    margin-bottom: 40px;
}
.picture-service{
    padding-left: 10px;
}
.container-service{
    background: #e8e8e8;
    padding: 30px;
}
.container.services h1{
    font-family: 'Open Sans';
    font-size: 15px;
    text-transform:uppercase;
    margin: 40px;
    color:red;
    text-align: center;

}
.services-main a {
    text-decoration: none;
    background-color: transparent;
    font-family: 'Open Sans';
    font-size: 15px;
    text-transform:uppercase;
    padding-top: 20px;
    color: rgba(0,0,0,.9)!important;
}
.content-service{
    padding-left: 10px;
}
.btn-group {
    display: block !important;
}

/*order*/
.back a{
    font-family: 'Open Sans';
    color: #9BBDC2;
    font-size: 16px;
}
.title h2{
    margin-top: 40px;
    margin-left:40px;
    font-family: 'Open Sans';
    color: #000000;
}
.form-control {
    background-color: #FEF2E8 !important;
}
/*footer*/

.footer-base{
    background-color: #FFFFEE !important;
    min-height: 100px;
}
.footer-title span:nth-child(1){
     font-family: 'Open Sans';
     font-size: 15px;
     text-transform:uppercase;
     letter-spacing: 0.05em;
 }
.footer-title span{
    font-family: 'Open Sans';
    font-size: 15px;
    letter-spacing: 0.05em;
    padding: 40px;
}
.footer-box-1{
    border-right: 1px solid;
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 100px;
}
